# Ejercicio 1:

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [139]:
matricula = int(input("Introduce tu matrícula:" ))
print ("Dayana Guadalupe Reyes Joaquín-" , matricula)

Introduce tu matrícula:1812288
Dayana Guadalupe Reyes Joaquín- 1812288

# Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [140]:
num1= int(input("Introduzca el primer número:"))
num2= int(input("Introduzca el segundo número:"))

suma=num1+num2
resta=num1-num2
mult=num1*num2
div=num1/num2
exp=num1**num2
print (num1,"+", num2,"=",suma)
print (num1,"-", num2,"=",resta)
print (num1,"*", num2,"=",mult)
print (num1,"/", num2,"=",div)
print (num1,"**", num2,"=",exp)

Introduzca el primer número:5
Introduzca el segundo número:2
5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5
5 ** 2 = 25

# Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [89]:
i=1
suma=0

for i in range(1,31):
    if i%3==0:
        print(i)
        suma=suma+i
        i=i+1
print("La suma de los número múltiplos de 3 es->", suma)
    
#i =+1

3
6
9
12
15
18
21
24
27
30
La suma de los número múltiplos de 3 es-> 165

# Ejercicio 4
-Con una función de if else, revisar si un número es par o es impar.

-Con una función de if else, revisar si un número es primo o no.

In [20]:
num1= int(input("Introduzca algún número:"))

if num1%2==0:
    print ("El numero que introdujo es par:", num1)
else:
    print ("El numero que introdujo NO es par:", num1)

Introduzca algún número:8
El numero que introdujo es par: 8

In [74]:
num1= int(input("Introduzca algún número para saber si es primo: "))

valor=range(2, num1)
i=0
for n in valor:
    if num1%n==0:
        i=i+1
        print("divisor:", n)
    
if i>0:
    print ("***El número NO es primo***")
else:
    print ("***El número SÍ es primo***")
    
    #unipython.com

Introduzca algún número para saber si es primo: 4
divisor: 2
***El número NO es primo***

# Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [141]:
a=int(input("Introduzca el primer número:"))
b=int(input("Introduzca el segundo número:"))
def Suma(a,b):
    c=a+b
    return c
print("-Suma(%d,%d) -->"%(a,b), Suma(a, b))

def Resta(a,b):
    c=a-b
    return c
print("-Resta(%d,%d) -->"%(a,b), Resta(a, b))

def Multiplicacion(a,b):
    c=a*b
    return c
print("-Multiplicación(%d,%d) -->"%(a,b), Multiplicacion(a, b))

def Division(a,b):
    c=a/b
    return c
print("-División(%d,%d) -->"%(a,b), Division(a, b))

def Exponente(a,b):
    c=a**b
    return c
print("-Exponente(%d,%d) -->"%(a,b), Exponente(a, b))

Introduzca el primer número:5
Introduzca el segundo número:2
-Suma(5,2) --> 7
-Resta(5,2) --> 3
-Multiplicación(5,2) --> 10
-División(5,2) --> 2.5
-Exponente(5,2) --> 25

# Ejercicios con Estructuras básica de Python

### >Tuplas

##### Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [92]:
var1=3.5676
print("el tipo de variable de 3.5676 es:", type(var1))

var2=8
print("el tipo de variable de 8 es:",type(var2))

var3=3j
print("el tipo de variable de 3j es:",type(var3))

var4=True
print("el tipo de variable de True es:",type(var4))

el tipo de variable de 3.5676 es: <class 'float'>
el tipo de variable de 8 es: <class 'int'>
el tipo de variable de 3j es: <class 'complex'>
el tipo de variable de True es: <class 'bool'>

##### Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [21]:
t1=(1, 2, 3, 4, 5)
type(t1)
print ("El primer valor es: ", t1[0])
print ("El último valor es: ", t1[4])

El primer valor es:  1
El último valor es:  5

##### -Añadir 3 valores de string a la tupla.

##### -Verificar si una variable existe dentro de la tupla.

In [79]:
t1=(1, 2, 3, 4, 5, "dayana", "diciembre", "plantas")
type(t1)

#verificar si está en la tupla
9 in t1

False

### Listas
-Crear una lista con 40 elementos aleatorios enteros.

-Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

-Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

-Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

-Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [36]:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39 ,40]

def extraer_pares(lista):
    pares=[]
    
    for  n in lista:
        if n%2==0:
            pares.append(n)
            
    return pares

print()

resultado=extraer_pares(list1)

print("Los números pares son: ", resultado)
print("El número de elementos de la lista es: ", len(resultado))
print("El orden descendente es: ", sorted(resultado, reverse=True))

def extraer_impares(lista):
    impares=[]
    
    for  n in lista:
        if n%2!=0:
            impares.append(n)
            
    return impares

print()

resultado=extraer_impares(list1)

print("Los números impares son: ", resultado)
print("El número de elementos de la lista es: ", len(resultado))
print("El orden ascendente es: ", sorted(resultado))

Los números pares son:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
El número de elementos de la lista es:  20
El orden descendente es:  [40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

Los números impares son:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
El número de elementos de la lista es:  20
El orden ascendente es:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [46]:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39 ,40]

#Eliminar todos los elementos de la lista
list1.clear()

#Añadir elemento al final de la lista
list1.append(9)
list1

#Combinar 2 listas
list1.extend([4, 8, 2, 5])
list1

#Eliminar el último dato de la lista
list1.pop()
list1

[9, 4, 8, 2]

### Diccionarios

##### -Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

##### -Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [110]:
Dic1={'Julissa':18, 'Jesus':14, 'Ignacio':16, 'Cecilia':35, 'Karla':21, 'Cynthia':20}
type(Dic1)

lista_Edad=Dic1.values()
print("Edades ordenados de menor a mayor: ", (sorted(lista_Edad)))

Lista ordenada de menor a mayor:  [14, 16, 18, 20, 21, 35]

##### -Usando el diccionario y un loop, imprimir solo los nombres.

In [114]:
Dic1={'Julissa':18, 'Jesus':14, 'Ignacio':16, 'Cecilia':35, 'Karla':21, 'Cynthia':20}
type(Dic1)

lista_nombres=Dic1.keys()
print(lista_nombres)

dict_keys(['Julissa', 'Jesus', 'Ignacio', 'Cecilia', 'Karla', 'Cynthia'])

##### -Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [116]:
Dic1={'Julissa':18, 'Jesus':14, 'Ignacio':16, 'Cecilia':35, 'Karla':21, 'Cynthia':20}
Dic1['Rosa']='21'
Dic1['Jimena']='20'
Dic1

{'Julissa': 18,
 'Jesus': 14,
 'Ignacio': 16,
 'Cecilia': 35,
 'Karla': 21,
 'Cynthia': 20,
 'Rosa': '21',
 'Jimena': '20'}

### Sets
-Crea un set con 100 numeros aleatorios enteros del 1 al 25.

-Comprueba la longitud de tu set.

-Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [138]:
set1={14, 17, 13, 6, 19, 20, 14, 13, 24, 24, 10, 3, 13, 21, 25, 4, 13, 7, 24, 8, 4, 11, 13, 21, 19, 12, 9, 8, 7, 15, 19, 15, 19,
16, 1, 12, 9, 19, 13, 5, 20, 7, 3, 11, 5, 12, 23, 21, 21, 15, 20, 25, 25, 14, 3, 20, 20, 23, 24, 18, 4, 19, 2, 16, 23, 24, 11,
21, 1, 2, 3, 6, 5, 14, 13, 24, 12, 22, 25, 14, 4, 25, 14, 14, 8, 12, 23, 11, 14, 22, 13, 5, 22, 14, 10, 9, 16, 16, 8, 13}

print("La longitud del set es: ", len(set1))

lista1=[5, 7, 2, 4, 6]
set(lista1)

La longitud del set es:  25

{2, 4, 5, 6, 7}